language: go

go:
 - "1.10"

go_import_path: github.com/maxgodfrey2004/go-file-manager

before_install:
 - go get github.com/mattn/goveralls

install:
 - go get -t ./...
 - go get github.com/nsf/termbox-go

script: 
 - go test -v -race -covermode=atomic ./...
 - $GOPATH/bin/goveralls -service=travis-ci
